@model IEnumerable<FlightCompanion.Chart>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section>
        <div class="row row-spacer">
            <p>
                @Html.ActionLink("Upload New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChartTypeMetadata.Value)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChartTypeMetadata.Value)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { chartId = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
</body>
</html>
